body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: darkgray;
    color: white;
    line-height: 1.6em;
}


.arrows {
    width: 40px;
    height: 40px;
}

h1 {
    text-align: center;
}

img {
    width: 930px;
    height: 350px;
}

#container {
    width: 940px;
    margin: 40px auto;
    overflow: hidden;
}

#slider {
    width: 930px;
    height: 348px;
    position: relative;
    padding: 3px;
    overflow: hidden;
    border: 2px solid #666;
    border-radius: 5px;
    float: left;
}

    #slider img {
        height: 350px;
    }


.slide {
    position: absolute;
}

.slide-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    /*color: black;*/
    padding: 0px 0px 0px 20px;
    background-color: lightgray;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

#prev {
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 100;
    margin-top: -200px;
}

#next {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 100;
    margin-top: -200px;
}
